@mixin button($back-color, $color, $box-shadow) {
  padding: 12px 40px;
  background: $back-color;
  color: $color;
  font-weight: 800;
  border-radius: 100px;
  border: hidden;
  @if $box-shadow {
    box-shadow: 0px 5px 10px $brightRed;
  }
  &:hover {
    background: rgb(246, 143, 117);
  }
}

@mixin spaceBetweenFlex() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
