// google font
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

// scss files
@import './variables';
@import './mixin';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam', sans-serif;
}

h2 {
  font-size: 35px;
}

h6 {
  font-size: 25px;
}

p {
  color: $darkGrayishBlue;
}

@import './header';
@import './body';
@import './footer';
@import './tablet';
@import './bigPhone';
@import './smallPhone';
